# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*.backup

# Yandex Cloud keys
key.json
*.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
